
/* the code below is for overarching concepts*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	padding:0;
	margin:0;
}

body {
	text-align: center;
	font-family: "Roboto Slab", serif;
}

/*the code below is for the navigation bar*/

.navbar {
  width: 15%;
  top: 0;
  left: 0;
  background-color: #9A969C;
  position: fixed;
  height:100%;
  border:5px solid #3E3544;
}

nav{
	height:100%;
}

nav img {
    width: 75%;
    padding-top: 10%;
}

nav li {
    padding-top: 10%;
    text-align: left;
    margin-left: 10%;
    list-style-type: none;
    font-weight: 900;
    font-size:36px;
}

/*the code below is for the top banner*/

.top {
	background-color: #3E3544;
	height:500px;
	width: 85%;
	float:right;
}

.top h1 {
	text-align: left;
	padding-top:5%;
	padding-right:5%;
	width:50%;
	float:right;
	font-weight:100;
	font-size:42px;
	color:white;
}

.doggo {
	width:40%;
	z-index:1;
	margin-right: 0;
	display: inline;
	align-content:top;
	}

.doggo img {
	border-radius:50%;
	border-color: #9A969C;
	border:10px solid #9A969C;
 	margin-left: 4%;
    margin-top: 3%;
    height: 80%;
}

span {
	font-weight:700;
}

.form {
	text-align: left;
	width:50%;
	float:right;
	padding-right:140px;
	position:relative;
	top:-250px;
	font-weight: 100;
	color:white;
	font-size:24px;
}

.form input {
	width: 100%;
	margin-right: 30%;
	padding:20px;
	margin-bottom: 3%;
	margin-top:3%;
	border-style:solid;
	border-radius:5px;
}

.form button {
	width: 100%;
	background-color:#9A969C;
	padding: 10px;
	margin-bottom: 20px;
	border-style:solid;
	font-size:30px;
	font-weight:700;
	border-radius: 5px;
	font-family: Roboto Slab;
}

/*the code below is for the main content*/

.buttermilk {
	width:85%;
	float:right;
	margin-bottom:100px;
}
.party {
	height:500px;
	column-count: 2;
	border-bottom: 1px solid black;
	border-width: 50%;
	margin-left:5%;
	margin-right:5%;
}

.titleOne, .titleTwo, .titleThree {
	width:100%;
}

.titleOne, .titleTwo, .titleThree h2 {
	font-size:30px;
	padding-top:10px;
}

.titleThree h2 {
	height:65px;
	font-size: 45px;
}

.wordsOne, .wordsTwo, .wordsThree {
	height:300px;
	font-size: 24px;
    font-weight: 300;
    margin-right:10%;
    padding-top:100px;
    text-align: left;
}

.party button {
    width: 30%;
    margin-left: 70%;
    background-color: #3E3544;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color:white;
    font-weight: 500;
    font-size: 30px;
    font-family: Roboto Slab;
    border-radius:5px;
}

.titleOne img {
	border-radius:50%;
	border-color: #9A969C;
	border:10px solid #9A969C;
 	margin-left: 4%;
    margin-top: 3%;
    width:30%;
}

.titleTwo img {
	border-radius:50%;
	border-color: #9A969C;
	border:10px solid #9A969C;
 	margin-left: 4%;
    margin-top: 3%;
    width:30%;
}

.titleThree img {
	border-radius:50%;
	border-color: #9A969C;
	border:10px solid #9A969C;
 	margin-left: 4%;
    margin-top: 3%;
    width:30%;
}

#third {
	margin-bottom:200px;
}


/*the code below is for the footer*/

footer {
    height: 300px;
    background-color: #3E3544;
    bottom: 0px;
    right: 0px;
    width:85%;
    position:fixed;
    padding-top:50px;
}
footer ul {
	width:14%;
	float:right;
}


footer p {
	color:white;
	font-size: 36px;
	width:85%;
	text-align:right;
	margin-bottom:-50px;
}

footer li{
	width:20%;
}

footer img {
	height:70px;
}

.iconOne, .iconTwo{
	list-style: none;
	display:inline-block;
	padding:20px;
}

/* the code below is for a float fix */

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
