/* code below is for overarching concepts that effect the whole page */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* code below is for the navigation bar*/

nav {
	background: #75e2e6;
	border-bottom: 5px solid;
	border-color: #048eaa;
	padding: 10px;
}

nav img {
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    width: 4%;
}

nav ul {
	float: right;
	font-size: 20px;
	font-weight: 700;
    text-align: right;
	width: 50%;
}

nav li {
	display: inline-block;
	padding-right: 7%;
	padding-top: 2%;
}

button {
	font-family:Open Sans, sans-serif;
}

/* code below is for the top banner */

.top {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/park.jpg");
	background-position: center;
	background-size: cover;
	color: white;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}

span{
	font-weight: 700;
	margin: 0;
}

.doggo img {
	border: 5px solid #048eaa;
	border-color: #75e2e6;
	border-radius: 50%;
    display: block;
    margin: 0 auto;
    width:13%;
}

form {
	color: white;
	display: block;
	margin-left: 35%;
	margin-right: 35%;
}

form input {
	border-radius: 5px;
    font-size: 20px;
    margin-bottom: 3%;
    margin-left: 0;
    margin-top: 3%;
    padding: 20px;
    width: 100%;
}

form p {
	font-size: 20px;
}

button {
    background-color: #75e2e6;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    width: 30%;
}

/* code below is the main content displayed in middle*/

.party {
	display:inline-block;
	height:100%;
}

/*I realize calling id selectors are not ideal, but it worked well here*/

#first, 
#second, 
#third {
	width: 33%;
}

.titleOne, 
.titletwo, 
.titleThree {
	height:50%;
}

.wordsOne,
.wordsTwo, 
.wordsThree {
	height:50%;
}

.party h2{
	font-size: 20px;
	font-weight: 900;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
}

.party img {
	border: 5px solid #048eaa;
	border-color: #75e2e6;
	border-radius: 50%;
	margin-left: 30%;
	width: 40%;
}

.party p {
	font-size: 20px;
	margin-bottom: 5%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 5%;
	min-height: 250px;
}

.party button {
	background-color: #048eaa;
	color: white;
	display: inline-block;
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

/*this is for the JS hidden texts*/

#hidden,
#hidden2,
#hidden3 {
	display: block;
}

/* code below is the start of the footer*/

footer {
	background: #048eaa;
}

.iconOne,
.iconTwo {
	display: inline-block;
	width: 23%;
}

footer p {
	color: white;
	font-size: 20px;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
}

footer li {
	display: inline-block;
	padding: 2%;
	padding-bottom: 50px;
	width: 70%;
}

footer ul {
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
    width: 20%;
}

footer img {
	height: 100%;
	width: 100%;
}

/* this is for the tooltips*/


.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: #555;
  border-radius: 6px;
  color: #fff;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 300px;
  z-index: 1;  
}

.tooltip .tooltiptext::after {
  border-color: #555 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

/* code below is for a float fix */

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* code below is for media queries */


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    property: value;
}

@media (max-width: 805px) {
	.party {
		display: block;
		width:100%;
		background-color: blue;
	}
	/*.party p {*/
		/*max-height: 100px*/
	/*}*/
}

