p {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 16;
}

nav {
	border-bottom:2px solid;
	border-color: #048eaa;
	background: #75e2e6;
}

nav li {
	display:inline-block;
	padding: 5px;
	float:right;
}

footer {
	background: #048eaa;
}

tr img {
	border-radius:50%;
	border:2px;
	border-color: #75e2e6;
}

.doggo img {
	border-radius:50%;
	border:2px;
	border-color: #75e2e6;
}

body {
	font-family: "Open Sans", sans-serif;
}