* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
  width: 15%;
  top: 0;
  left: 0;
  background-color: #9A969C;
  height:100%;
  z-index:2;
  position: absolute;
  height: 1200px;
}

.top {
	background-color: #3E3544;
	height:500px;
}

.doggo {
	width:40%;
	z-index:1;
	margin-right: 0;
	display: inline;
	align-content:top;
	}

.doggo img {
	border-radius:50%;
	border-color: #9A969C;
	border:10px solid #9A969C;
    margin-left:75px;
    margin-top:50px;
    height:350px;
    width:350px;

}

footer {
	background-color: #3E3544
}

h1 {
	text-align: right;
	padding-top: 115px;
	padding-right:150px;
	width:50%;
	float:right;
	font-weight:100;
	font-size:42;
	color:white;
}

.dog-title{
	font-weight:700;
}

article {
	width: 85%;
	float:right;
}

form input {
	width: 100%;
	margin-right: 30%;
	margin-left: 30%
	padding:20px;
	margin-bottom: 3%;
	margin-top:3%;
	border-style:solid;
}

button {
	width: 100%;
	background-color: #9A969C;
	padding: 5px;
	margin-bottom: 20px;
	border-style:solid;
}

.form {
	text-align: left;
	width:50%;
	float:right;
	padding-right:140px;
	padding-left:10px;
	position:relative;
	top:-200px;
	font-weight: 100;
	color:white;
	font-size:24;
}

body {
	text-align: center;
	font-family: "Roboto", serif;
}


